/*
	Main green color: #5cb85c ;
*/

html 
{
	position: relative;
	min-height: 100%;
	min-width: 400px;
}

body 
{
	background: #fff;
	padding-top: 70px;
	padding-bottom: 400px;
	min-width: 400px;

}


a { color: #0099ff; }
a:hover { color: #5cb85c;  }

.float_left { float: left; }
.float_right { float: right; }

.navbar
{
	border-radius: 0px;
	border: 0px;
	background: #262626;
	border-bottom: 4px solid #5cb85c;
}

.navbar-brand
{
	height: 63px;
	padding: 6px;
	width: 180px;
	color: #fff;
}

.brand-logo
{
	width: 50px;
	height: 50px;
	border-radius: 100px;
	float: left;
	margin-right: 9px;
}

.navbar-nav
{
	padding: 6px;
}

.navbar-toggle
{
	width: 44px; height: 44px;
	border-radius: 100px;
}

.brand-logo-text
{
	float: left;
	line-height: 49px;
	color: #fff;
	
}

.red-circle
{
	border: 2px solid;
	border-color: #5cb85c !important;
	border-radius: 100px;
	padding: 5px !important;
	padding-right: 15px !important;
	padding-left: 15px !important; 
	margin-top: 9px;
	margin-bottom: 9px;
}

.dropdown-menu
{
	background: #191919;
	color: #fff;
}
.dropdown-menu > li > a {
    display: block;
    padding: 10px 20px;
    color: #fff;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #4cae4c;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #666;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #4cae4c;
}

.open > .dropdown-menu {
    display: block;
    margin-top: 10px !important;
}

@media (min-width: 768px) {
	.navbar .nav > li > .dropdown-menu::before {
	    position: absolute;
	    top: -11px;
	    right: 10px;
	    display: inline-block;
	    border-right: 10px solid transparent;
	    border-bottom: 10px solid #4cae4c;
	    border-left: 10px solid transparent;
	    content: '';
	}
}


.intro-video
{
	width: 100%;
	height: 499px;
	border-right: none;
	border-left: none;
	position: relative;
	padding: 20px;
}

.intro-video-holder
{
	position: absolute;
	top: 0%; left: 0%;
	height: 100%; width: 100%;
	overflow: hidden;
}

.intro-video-view
{
	position: absolute;
	top: -150px;
	bottom: 0px;
	z-index: -1;
	opacity: 1;
	width: 100%;
}

.intro-overlay
{
	margin-top: 90px;
	text-align: center;
}

.intro-main-word
{
	font-size: 5em;

	max-width: 800px;
	margin: 0 auto; 

	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 2px #333;
	text-transform: lowercase;
	font-variant: small-caps;

	border-bottom: 0px;
}

.intro-secondary-word
{
	font-size: 3em;

	max-width: 800px;
	margin: 0 auto; 
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 2px #333;

	text-transform: lowercase;
	font-variant: small-caps;
	
	
	border-top: 0px;
}

.call-to-action {
	position: relative;
}

@media (max-width: 1120px) {
	.intro-overlay { margin-top: 90px;  }
	.intro-main-word { font-size: 6em; }
	.intro-secondary-word { font-size: 3em;  }
}
@media (max-width: 999px) {
	.intro-overlay { margin-top: 60px;  }
	.intro-main-word { font-size: 4em; }
	.intro-secondary-word { font-size: 2em;  }
}

@media (max-width: 949px) {
	.intro-video-holder, .intro-video { height: 370px;  }
}

@media (max-width: 780px) {
	.intro-video-holder, .intro-video { height: 270px;  }
}

@media (max-width: 749px) {
	.intro-video { display: none; }
}

.border-right
{
	border-right: 1px solid rgba(180, 180, 180, 0.2);
}

.registration-selection
{
	background: #fff;
	padding: 20px;
	border: 1px solid #ddd;
}

.registration-selection .selection-title 
{
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
	margin: 20px 0px;

}

.registration-selection .selection-info 
{
	padding: 20px 0px 20px 0px;
}

.list-items
{
	overflow: hidden;
	margin-bottom: 30px;
}

.list-items .li-left
{
	float: left;
	width: 80px;
	max-width: 20%;
	height: 80px;
	line-height: 80px;
	text-align: center;
	color: green;
	font-size: 2em;
}

.list-items .li-right
{
	float: left;
	max-width: 80%;
	min-height: 50px;
	padding: 5px;
	font-size: 18px;
}

.selection-action
{
	height: 50px;
	margin-top: 15px;
}

.btn
{
	border-radius: 0px;
}

.btn-primary
{
	background-color: #931f1f;
	border-color: #ae0404;
}

.btn-primary:hover
{
	background-color: #ae0404;
	border-color: #931f1f;
}



/*
#	Standerd content containers
*/
.inner-container { margin: 100px 0px;  }
.login-container
{
	width: 100%;
	min-height: 233px;
	padding: 20px;
	background: #fff;
	border: 1px solid #ddd;
}
.entry-title
{
	font-size: 2em;
	text-transform: uppercase;
	margin-bottom: 15px;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.small-form { max-width: 400px; }
.medium-form { max-width: 800px; }
.form-center { margin-right: auto; margin-left: auto; }
.text-center { text-align: center; width: 100%;  }
textarea { resize: vertical;  }
.no-border { border: none !important;  }
.full-width { width: 100%;  }
.circle { border-radius: 100%; }
.capitalized { text-transform: capitalize;  }
.paddin-20 { padding: 20px;  }
.nopadding { padding: 0; }


.bottom-group
{
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #eee;
}

/*
#	Verify css
*/
.verify-content
{
	text-align: left;
	max-width: 700px;
	font-size: 16px;
	margin: auto;
}

.verify_iconview
{
	text-align: center;

}
.verify_iconview i
{
	font-size: 5em;
}

.verify_content
{
	padding-top: 30px;
	padding-bottom: 30px;
}

.inner-container.white
{
	background: #fff;
	padding: 20px;
	padding-bottom: 50px;
	border: 1px solid #ddd;
}

/*
-----------------------------------
#	Standard form som benyttes
#	på alle sider hvor det er nø-
#	dvendig. 
-----------------------------------
*/

.registration-from
{
	width: 100%;
	min-height: 333px;
	background: #fff;
	border: 1px solid #ddd;
	padding: 20px;
	*margin-top: 50px;
}

.form-title
{
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 10px;
	text-transform: uppercase;
	text-align: left;
	font-size: 2em;
	border-bottom: 1px solid #eee;
}

label
{
	font-size: 15px;
	margin: 10px 0px;
}

.form-control
{
	border-radius: 0px;
	font-size: 14px;
}

.formimg img
{
	max-width: 100%;
	max-height: 250px;
}


/*
-----------------------------------
# Behandling av bakgrunn
# for sidene basert på
# class lagt til av js
-----------------------------------
*/

.reg-ops
{
	background: url(img/reg-ops.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.reg-kunde 
{
	background: url(img/reg-kunde.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.verify 
{
	background: url(img/verify.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}


/*
#	colors classes
*/
.green { color: #4cae4c; }
.bg_green { background: #5cb85c; }
.red { color: red; }


/*
:	footer;
*/

footer
{
	width: 100%;
	position: absolute;
	bottom: 80px; left: 0;
	background: #262626;
	padding: 50px 20px;
	min-height: 200px;
	*border-top: 4px solid #5cb85c;
	color: #fff;

}

.footer-item
{
	
}

.footer-item ul
{
	list-style: none;
	padding: 0px; margin: 0;
}

.footer-item ul li
{
	list-style: none;
	padding: 0px; margin: 0;
	padding: 6px 0px;
	font-size: 1em;
	line-height: 25px;

}

.footer-item ul li a
{
	color: #fff;
}


.footer-item-title
{
	padding: 12px 0px;
	font-size: 1.3em;
	margin-bottom: 5px;
	border-bottom: 1px solid #5cb85c;
}

.footer-item i
{
	color: #fff;
}

.footer-footer
{
	position: absolute;
	bottom: 0; left: 0;
	width: 100%;
	padding: 20px 20px;
	background: #262626;
	border-top: 1px solid #333;
	text-align: center;
	line-height: 40px;
	font-size: 1em;
	color: #fff;
}

.footer-footer a
{
	text-decoration: none;
	color: #4cae4c;
}
.footer-footer a:hover
{
	color: #5cb85c;
}

.sponsors
{
	font-size: 3em;
	letter-spacing: 10px;

	border-bottom: 1px solid #333;
	color: #363636;

	padding-bottom: 10px;
	margin-bottom: 35px;
}

.partner
{

	
	font-size: 3em !important;
}

.partner i 
{
	color: #ddd;
}


/*operator*/

.operator
{
	width: 100%;
	overflow: hidden;
}

.operator-header
{
	width: 100%;
	overflow: hidden;
	min-height: 120px;
	padding: 0px;
	margin: 0px;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

.operator-name
{
	text-align: center;
	font-size: 1.4em;
	font-variant: small-caps;
	font-weight: bold;
	margin-bottom: 10px;
}

.operator-picture-box
{
	float: left;
	width: 100%;
	height: 100%;
	padding: 15px;
	border: 1px solid #eee;
	text-align: center;
}

.operator-img img
{
	width: 150px;
	height: 150px;
	padding: 5px;
	border-radius: 100%;
	border: 1px solid #4cae4c;
	box-shadow: 1px 2px 2px #ddd;
	margin-bottom: 15px;
}

.operator-skills-box 
{
	float: left;
	width: 100%;
	min-height: 264px;
	padding: 50px 50px;
	border: 1px solid #eee;
}

.rating-box
{
	font-size: 1.5em;
	color: #5cb85c;
}

.operator-skills-box div
{
	font-size: 1.5em;
	padding: 10px;
	border-bottom: 1px dashed #eee;
}


.contact
{
	width: 100%;
	padding: 5px;
	border: 1px solid #eee;
	margin-bottom: 30px;
	font-size: 1.4em;
}

.contact div
{
	border-right: 1px solid #eee;
	text-align: center;
	font-size: 16px;
	line-height: 38px;
	min-width: 232px;
}



.operator-content
{
	padding: 20px 20px;
	font-size: 1.3em;
	border: 1px solid #eee;
}

.operator-title
{
	font-size: 1.2em;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #eee;
}

.operator-info-text
{
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.presentations div img
{
	width: 100%;
	min-height: 250px;
	opacity: 0.7;
}

.presentations div img:hover
{
	cursor: pointer;
	opacity: 1;
}


.intro-steps, .dark
{
	padding: 0;
	width: 100%;
	min-height: 100px;
	padding: 50px 0px;

}

.intro-step
{
	width: 100%;
	height: auto;
}

.intro-step-icon
{
	width: 120px;
	height: 120px;
	border-radius: 120px;
	border: 2px solid #4cae4c;
	text-align: center;
	line-height: 120px;
	margin: 0 auto;
	font-size: 3em;
}
.intro-step p
{
	padding: 40px;
	font-size: 16px;
	text-align: center;
}


.check_btn
{
	min-width: 100%;
	margin-bottom: 10px;
}


.bbcode-btn
{
	width: 35px;
	height: 35px;
	border-color: #eee;
}

.bbcode-controls
{
	width: 100%;
	height: 35px;
	background: transparent;
}

.bbcode-controls ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.bbcode-controls ul li
{
	list-style: none;
	float: left;
}

/*
#	VISNINGER SIDEN
*/



/*
#############################
##	Visninger			   ##
#############################
*/

.visning-container
{
	width: 100%;
	background-color: #fff;
	min-height: 333px;
	margin-bottom: 200px;
}

.visning-container .lefthand
{
	margin-bottom: 200px;
}

.main-image
{
	width: 100%;
}

.main-image img
{
	width: 100%;
	margin-bottom: 5px;
}

.visning-images
{
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}

.visning-images .imgitem
{
	float: left;
	width: 24%;
	margin-bottom: 5px;
	margin-right: 1%;
}

.video-title
{
	width: 100%;
	min-height: 60px;
	padding: 10px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 30px;
	background: #fff;
	line-height: 40px;
	border-bottom: 1px solid #eee;

	margin-bottom: 20px;
}


.video-controls
{
	width: 100%;
	min-height: 60px;
	padding: 10px;
	font-size: 24px;
	background: #fff;
	line-height: 40px;
	border: 1px solid #eee;
}

.video-controls div
{
	border-right: 1px solid #eee;
}
.video-controls div.center
{
	text-align: center;
}

.video-controls div.laste
{
	border: none;
}

.operator-name, .contact-information
{
	width: 100%;
	padding: 10px;
	font-size: 11px;
	background: #fff;
	text-transform: uppercase;
	border: 1px solid #eee;
	text-align: left;
	margin-bottom: 20px;
}

.contact-information
{
	font-size: 14px;
	font-weight: bold;
	text-transform: none;
}

.contact-information ul
{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.contact-information ul li
{
	padding: 5px;
	border-bottom: 1px dashed #eee;
}

.google-maps
{
	width: 100%;
	min-height: 333px;
	margin-top: 30px;
	margin-bottom: 50px;
}

.google-maps iframe
{
	width: 100%;
	min-height: 333px;
}

.information-field
{
	width: 100%;
	background: #fff;
	overflow: hidden;
	border: 1px solid #eee;
	padding: 20px;
}

.information-field ul
{
	padding: 0; margin: 0;
	list-style: none;
	margin-bottom: 20px;
	overflow: hidden;
}

.information-field ul li
{
	min-width: 32%;
	margin-right: 1%;
	float: left;
	padding: 10px;
	border-bottom: 1px dashed #eee;
	text-transform: capitalize;
	font-size: 1.1em;
}

.img_over
{
	opacity: 0.8;
}

.img_over:hover
{
	opacity: 1;
}

@media (max-width: 991px) {
	.information-field ul li
	{
		min-width: 49%;
		margin-right: 1%;
	}

	.visning-container .lefthand, .inner-container, .visning-container
	{
		margin-bottom: 20px;
		margin-top: 20px;
	}

}

@media (max-width: 549px) {
	.information-field ul li
	{
		min-width: 100%;
		margin-right: 0px;
	}
}

.information-field ul li span
{
	font-weight: bold;
}


span.float-right
{
	float: right;
}

.information-field p
{
	padding: 8px;
}

.img-holder-details
{
	float: left;
	position: relative;
	width: 24%;
	margin-right: 1%;
}

.img-holder-details img
{
	width: 100% !important;
}
.the-button
{
	position: absolute; 
	top: 5px;
	right: 5px;

	width: 15px;
	height: 15px;
	background: red;
	color: #fff;
	line-height: 15px;
	text-align: center;

	cursor: pointer;
}


/*
#	front page: dark;
*/

.dark
{
	background: #ddd;
	padding-bottom: 120px;
}

.operator-block
{
	width: 100%;
	background: #fff;
	min-height: 100px;
	overflow: hidden;
}

.disp-name
{
	padding: 10px;
	text-transform: capitalize;
	font-weight: bold;
}

.operator-contact
{
	width: 100%;
	background: #fff;
	border-top: 1px solid #eee;
	padding: 20px;
	overflow: hidden;
}

.message-bubble
{
	min-height: 180px;
	background: #5cb85c;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 10px;
	padding: 20px;
	font-size: 1em;
	letter-spacing: 1.5px;
	float: right;
}

.message-bubble.other
{
	border-color: #fff;
	background: #4e9eb6;
	float: left;
}

.answer-form
{
	padding: 10px;
}



/*
- 	forsiden visninger
*/

.visninger
{
	background: #fafafa;
	padding: 40px;
	padding-bottom: 100px;
}

.visning-block
{
	width: 100%;
	background: #fff;
	border: 1px solid #eee;

}

.visning-bilde
{
	width: 100%;
	height: 100%;
	position: relative;
}

.visning-bilde img
{
	width: 100%;
	min-height: 240px;
	max-height: 290px;
	opacity: 0.6;
}

.visning-bilde img:hover
{
	opacity: 1;
	cursor: pointer;
}

.play-button
{
	width: 60px;
	height: 60px;
	border-radius: 60px;
	line-height: 60px;
	border: 1px solid #4cae4c;
	text-align: center;
	
	font-size: 1.4em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -30px;
	margin-top: -30px;
	color: #fff;
	background: rgba(33, 33, 33, 0.6);
}

.play-button:hover
{
	background: #5cb85c;
	color: #fff;
	opacity: 1;
	cursor: pointer;
}

.visning-title
{
	padding: 20px;
	padding-top: 20px;
	min-height: 165px;
}

.visning-title h3
{
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
	padding-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
}

.visning-block .block-link
{
	color: #333;
}

.visning-block .block-link:hover
{
	text-decoration: none;
}

.search-bar
{
	background: #eee;
	padding: 15px;
}

.search-bar-bar
{
	padding: 22.5px !important;
}

.information_empty_site
{
	width: 100%;
	text-align: center;
	margin-top: 100px;
	color: #777;
}




/*
=======================================================================
# contactschema - Kontakt skjema
=======================================================================
*/

.contactschema
{
	padding: 50px;
	padding-bottom: 100px;
}
.message-response-icon
{
	font-size: 4em;
	text-align: center;
}

.message-response
{
	text-align: center;
}

.message-response .main-word
{
	text-align: center;
	font-size: 3em;
	text-transform: lowercase;
	font-variant: small-caps;
	text-shadow: 1px 3px 1px #eee;
}

.message-response .second-word
{
	text-align: center;
	font-size: 1.9em;
	margin-bottom: 20px;
}


/*
=======================================================================
# new contract - Ordre oppretting og betaling.
=======================================================================
*/

.newcontract
{
	padding: 20px;
	padding-bottom: 100px;
}

.form-infromation-newcontract
{
	font-size: 1.2em;
	padding: 20px;
}

.tab-content-options
{
	padding: 20px;
}

.billing-bill
{
	width: 100%;
	min-height: 333px;
	border: 1px solid #eee;
	box-shadow: 2px 5px 2px #eee;

	padding: 50px;
}

.users-informations
{
	width: 100%;
	overflow: hidden;
}

.customer-info
{
	float: left;
}

.users-info
{
	float: right;
	text-align: right;
}

.customer-info ul, .users-info ul
{
	padding: 0;
	margin: 0;
	
}

.customer-info li, .users-info li
{
	list-style: none;
}

.contract-details, .billing-information
{
	border-top: 1px solid #eee;
	margin-top: 40px;
}
.billing-information p
{
	text-transform: uppercase;
	font-variant: small-caps;
}
.payment-details, .billing-information
{
	width: 100%;
	padding: 10px 30px;
	background: #FFFF84;
}

.payment-details .price
{
	font-weight: bold;
	font-size: 2em;
}

.payment-btn
{
	padding: 20px 0px;
	overflow: hidden;
}

.payment-btn button
{
	float: right;
}

/******************************************/

    .acordion-list
    {
    	border: 1px solid #FAFAFA;
    	background: #fff;
    	-moz-box-shadow: 1px 7px 1px #eee;
    	-webkit-box-shadow: 1px 7px 1px #eee;
    	box-shadow: 1px 7px 1px #eee;
    }

    .acordion-list dt
    {
    	cursor: pointer;
    	color: #4cae4c;
    	padding: 1em 0;
        padding-left: 20px;
    	border-top: 1px solid #E3E3E3;
    	border-bottom: 1px solid #c5c5c5;
    }
    .acordion-list dt:hover
    {
    	background: #4cae4c;
    	color: #ffffff;
    }
    
    .acordion-list dd
    {
    	margin: 0;
    	padding: 1em 0;
    }
    .acordion-list dd p
    {
    	padding: 15px;
    }

    .contact-form-container 
    {	
    	padding: 100px 0px;
    	background: #fff;
    	padding: 40px;
    	min-width: 388px;

    	-moz-box-shadow: 1px 7px 1px #eee;
    	-webkit-box-shadow: 1px 7px 1px #eee;
    	box-shadow: 1px 7px 1px #eee;
    }

    .share-suqare {
    	font-size: 3em;
    	margin-right: 5px;
    }

    .share-suqare :hover {
    	color: #4cae4c;
    }